ExpiresActive On
ExpiresDefault A0
<FilesMatch “\.(gif|jpg|jpeg|png|ttf)$”>
# 2 weeks
ExpiresDefault A1209600
Header append Cache-Control “public”
</FilesMatch>
<FilesMatch “\.(xml|txt|html)$”>
# 2 hours
ExpiresDefault A7200
Header append Cache-Control “proxy-revalidate”
</FilesMatch>
<FilesMatch “\.(js|css)$”>
# 3 days
ExpiresDefault A259200
Header append Cache-Control “proxy-revalidate”
</FilesMatch>
