---
layout: compress
---

{% include head.html %}

<body>

<div class="wrapper">

    {% include sidebar.html %}

    <main>

        {% for project in site.data.projects %}

        {% include project.html %}

        {% endfor %}

    </main>

</div>

<script async src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.3.1/lazyload.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109632702-1"></script>
<script>
    function re() {
        const a = 'tdwesten', b = '@', c = 'gmail.com', d = '?subject=Hi Thomas!';
        document.getElementById( 'email-link' ).setAttribute( 'href', 'mailto:' + a + b + c + d );
        document.getElementById( 'email-link' ).innerHTML = 'Laat iets van je horen';
    }

    re();

    window.lazyLoadOptions = {};
    window.dataLayer       = window.dataLayer || [];

    function gtag() {dataLayer.push( arguments );}

    gtag( 'js', new Date() );

    gtag( 'config', 'UA-109632702-1' );

</script>

<
/body>