---
layout: compress
---

{% include head.html %}

<body>

<div class="wrapper">

    {% include sidebar.html %}

    <main>

        {% for project in site.data.projects %}

        {% include project.html %}

        {% endfor %}

    </main>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
    WebFont.load( {
        google: {
            families: [ 'Roboto:300,400,500' ]
        }
    } );

    function re() {
        var a = 'tdwesten';
        var b = '@';
        var c = 'gmail.com';
        var d = '?subject=Hi Thomas!';
        document.getElementById( 'email-link' ).setAttribute( 'href', 'mailto:' + a + b + c + d );
        document.getElementById( 'email-link' ).innerHTML = 'Laat iets van je horen';
    }

    re();

</script>
</body>