$padding: 2rem;
$blue: #4A90E2;
$gray: #CDCCCD;
$white: #fff;
$screen-sm-min: 500px;
$screen-md-min: 767px;
$screen-lg-min: 1200px;

/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v18/0eC6fl06luXEYWpBSJvXCIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v18/Fl4y0QdOxyyTHEGMXX8kcYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v18/-L14Jk06m6pUHB-5mXQQnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v18/I3S1wsgSg9YCurV6PUkTOYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v18/NYDWBdD4gIq26G5XYbHsFIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v18/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v18/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v18/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v18/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v18/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v18/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v18/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v18/ZLqKeelYbATG60EpZBSDy4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v18/oHi30kwQWvpCWqAhzHcCSIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v18/rGvHdJnr2l75qb0YND9NyIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v18/mx9Uck6uB63VIKFYnEMXrYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v18/mbmhprMH69Zi6eEPBYVFhYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v18/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

p {
    margin-bottom: $padding;
}

i {
    font-style: italic;
}

a {
    font-weight: 500;
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-weight: 500;
    color: $blue;
}

h2 {
    font-weight: 500;
    font-size: 4rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (min-width: $screen-md-min) {
        flex-wrap: nowrap;
        flex-direction: column;
        display: block;
    }
}

aside {
    display: flex;
    justify-content: space-between;
    line-height: 2.4rem;
    flex: 0 0 100%;
    padding-top: 13rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    background-color: $white;

    @media (min-width: $screen-md-min) {
        position: fixed;
        width: 50vw;
        bottom: 0;
        top: 0;
        padding: $padding;
    }
    @media (min-width: $screen-lg-min) {
        width: 50rem;
    }
}

main {
    flex: 0 0 100%;

    @media (min-width: $screen-md-min) {
        width: 50vw;
        float: right;
    }

    @media (min-width: $screen-lg-min) {
        width: calc(100vw - 50rem);
    }
}

.header {
    flex: 0 0 100%;
    background-color: rgba($white, .95);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-bottom: $padding / 2;
    z-index: 100;

    @media (min-width: $screen-md-min) {
        position: relative;
    }

    &__title {
        padding: $padding / 2;
        position: relative;

        &:before {
            content: '';
            width: 4.5rem;
            border-top: 1px solid $gray;
            position: absolute;
            bottom: 0;
        }
        p {
            margin-bottom: 0;
        }

    }
}

.content {
    flex: 0 0 100%;
    padding: $padding / 2;
}

.button {
    margin-top: $padding;
    display: inline-block;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    padding: $padding / 2 $padding / 1.75;
    border-radius: .4rem;
    border: 1px solid darken($blue, 10);

    &:hover {
        background-color: darken($blue, 15);
        text-decoration: none;
    }

    &:active {
        transform: translate(2px, 2px);
    }
}

.socials {
    display: flex;
    flex: 0 0 100%;
    align-items: flex-end;
}

main {

}

.project {
    position: relative;
    padding: $padding * 3 $padding * 1.5 $padding * 2;
    color: $white;

    @media (min-width: $screen-md-min) {
        padding: $padding * 4 $padding * 3 $padding * 2.5;
    }

    @media (min-width: $screen-lg-min) {
        padding: $padding * 4 $padding * 5 $padding * 2.5;
    }

    h2 {
        font-size: 2.2rem;
        margin-top: 1.5rem;

        @media (min-width: $screen-md-min) {
            margin-top: 2.5rem;

        }
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 500;

        span {
            font-weight: 300;
        }
    }

    span {
        display: block;

        @media (min-width: $screen-sm-min) {
            display: inline-block;
        }
    }

    .sep {
        display: none;
        margin-left: .4rem;

        @media (min-width: $screen-sm-min) {
            display: inline-block;
        }
    }
}

.pager {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: 300;
    opacity: .75;

    @media (min-width: $screen-md-min) {
        font-size: 1.5rem;
        top: 1.5rem;
        left: 1.5rem;
    }
}

.browser {
    border-radius: 3px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.25);
    padding-bottom: 60%;
    position: relative;

    img {
        width: 100%;
        position: absolute;
        left: 0;
        top: 17px;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
        transition-delay: 500ms;

        &.loaded {
            opacity: 1;
        }
    }

    &__topbar {
        padding: $padding / 4;
        background: rgba(0, 0, 0, 0.25);
        overflow: hidden;

        &__dots {
            content: ' ';
            display: block;
            float: left;
            border-radius: .75rem;
            width: .75rem;
            height: .75rem;
            opacity: 0.5;
            background: #FFFFFF;
            margin-right: .5rem;
        }
    }

}

.socials {
    padding: $padding $padding / 2;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($blue, .5);
        width: 4rem;
        float: left;
        height: 4rem;
        margin-right: 1rem;
        border-radius: .4rem;
        &:hover {
            background-color: darken(rgba($blue, .5), 15);
        }

        &:active {
            transform: translate(2px, 2px);
        }
    }
}